<div class="container">
    <div class="header">
        <i class="material-icons" style="font-size: 30px;">compare_arrows</i>
        <h4>Make a Transfer</h4>
    </div>
    <form>
        <label><strong>From Account</strong></label>
        <input disabled placeholder="Free Checking(4692) - ${{total}}">
        <label><strong>To Account</strong></label>
        <input name="name" [(ngModel)]="name" placeholder="Southern Electric Company">
        <label><strong>Amount</strong></label>
        <input  name="amount" [(ngModel)]="amount" placeholder="$0.00">
        <button (click)="preview()" type="button" id="myBtn">Submit</button>
    </form>

    <div id="myModal" class="modal" *ngIf="visible" style="display: block;">
        <div class="modal-content">
            <span (click)="exitPreview()" class="close">&times;</span>
            <form (ngSubmit)="Transfer({name: name, amount: amount})">
                <label><strong>From Account</strong></label>
                <input disabled placeholder="Free Checking(4692) - ${{total}}">
                <label><strong>To Account</strong></label>
                <input [value]= "name" name="name" [(ngModel)]="name">
                <label><strong>Amount</strong></label>
                <input [value] ="to" name="amount" [(ngModel)]="amount" placeholder="$0.00">
            <button (ngSubmit)="createTransfer" id="transfer" type="submit">Transfer</button>
            </form>
        </div>

    </div>
</div>
