<div class="container">
    <div class="header">
        <img class="briefcase" src="../../assets/icons/briefcase.png" alt="briefcase">
        <h4>Recent Transactions</h4>
    </div>
    <div class="search-container">
        <input (keyup)="onChange($event)" name="search" placeholder="Search..">
        Sort By
        <button>Date</button>
        <button>Beneficiary</button>
        <button>Amount</button>
    </div>
    <div class="content-box">
        <div class="content" *ngFor="let transaction of transactions">
        <div class="color" [style.background-color]="transaction.categoryCode">

            </div>
            <div class="box">
                <p class="date">{{getDate(transaction.dates.valueDate)}}</p>
            </div>
            <div class="box">
                <img class="icon" src='{{"../../assets/icons/" +transaction.merchant.name+ ".png"}}'>
            </div>
                <div class="box">
                   <strong><p id="name">{{transaction.merchant.name}}</p></strong>
                    <p id="type">{{transaction.transaction.type}}</p>
                </div>
                <div class="box amount">
                <p class="amount">-{{transaction.transaction.amountCurrency.amount}}</p>
                </div>
        </div>
    </div>
</div>