<div class="container">
    <div class="header">
            <i class="fa fa-briefcase briefcase" style="font-size:28px"></i>
        <h4>Recent Transactions</h4>
    </div>
    <div class="search-container">
        <input (keyup)="onChange($event)" name="search" [(ngModel)]="val" placeholder="Search by typing..">
        <span class="close" (click)="ngOnInit()">&times;</span>
        <span class="sort">Sort By</span>
        <div class="search-options">
            <button (click)="dateSort()">Date</button>
            <button (click)="beneficiarySort()">Beneficiary</button>
            <button (click)="amountSort()">Amount</button>
        </div>
    </div>
    <div class="content-box">
        <div class="content" *ngFor="let transaction of transactions" (sendTrnasfer)="ngOnChange()">
            <div class="color" [style.background-color]="transaction.categoryCode"></div>
            <div class="box">
                <p class="date">{{getDate(transaction.dates.valueDate)}}</p>
            </div>
            <div class="box">
                <img class="icon" alt="icon" src='{{"../../assets/icons/" +transaction.image+ ".png"}}'>
            </div>
            <div class="box">
                <strong><p id="name">{{transaction.merchant.name}}</p></strong>
                <p id="type">{{transaction.transaction.type}}</p>
            </div>
            <div class="box amount">
               <strong>
                   <p class="amount">-{{transaction.transaction.amountCurrency.amount}}</p>
                </strong>
            </div>
        </div>
    </div>
</div>